/10-more3NF-moreSQL-withNotes.pdf
/7-3NF-part2-withNotes.pdf
/8-3NF-part3-withNotes-V2.pdf
/9-constraints-withNotes-V2.pdf
/A4-marking-spreadsheet.xlsx
/A6
/Assignment-1-CSC2001F.pdf
/Assignment.pdf
/assignment4
/assignment4 - Copy
/BS csc.pdf
/BTrees.pdf
/csc2001 db intro.pdf
/csc2001f_2023_graphs.pdf
/csc2001f_2023_unix.pdf
/csc2001f_2023_unixtest.pdf
/dataset.txt
/dbintro 1.pdf
/makedataset.py
/names.txt
/REPORT.txt
/sql-cheat-sheet.pdf
/students.txt
/Toktik.webp